// ログイン背景画像
.bgImg {
background-image: url("../image/flower2.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
}

.main{
margin: 0 auto;
width:800px;
background-color: rgba(255,255,255,0.5) !important;
text-align:center;
   #logo {
    padding:10px ; 
   }
    .input-group{
      padding:10px;
      margin-top:10px;
      font-size: 1.2em;
      color:black;
}

h1 {
  font-size:1.2em;
}


    
.new_user {
   .form-group {
     max-width: 500px;
     margin: 0 auto 1rem;
     .form-control {
       background: #f6f8fa;
       }
    }
 }
  
}

.main-body{
  margin:30px;
}

.main-footer {
  padding: 20px;
}

.input-group-prepend span{
width: 50px;
background-color: #1e90ff;
color: black;
border:0 !important;
}

.fas {
  margin: 0 auto;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}


 .loginBtn {
   padding: 12px;
   width: 200px;
   border-radius: 21px;
   background: #29b7ff;
   color: #fff;
   text-align:center;
   border: none;
   margin: 0 auto ;
   opacity: 1;
   transition: opacity .5s;
   cursor: pointer;
   &:hover {
     opacity: .7;
   }
 }

.links a {
  color:blue;
}