.logo {
 text-align:center;
 margin:0 auto;
}

  .container_login {
   padding: 15px 15px;
   background-color:#fff;
   width: 500px;
   opacity: 0.8;
   margin:0 auto;
  }
/* ▼共通装飾(兼モバイル用) */
.bgImg {
   background-color: #90ee90;
   background:url("../image/flower_top_small.jpg") 0 no-repeat;
   
   background-size:cover;
}

 /* ▼広い画面用 */   
@media (min-width: 1280px) {
.bgImg {
   background:url("../image/flower_top_large.jpg") 0 no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size:cover;
      }
}   
   
.signinPage {
 margin-top: 10vh;
 .title {
   margin: 0;
   text-align: center;
 }
 
.new_user {
   .form-group {
     max-width: 500px;
     margin: 0 auto 1rem;
     .form-control {
       background: #f6f8fa;
       }
   }
 }
 .loginBtn {
   padding: 12px;
   width: 200px;
   border-radius: 21px;
   background: #29b744;
   color: #fff;
   text-align: center;
   border: none;
   margin-top: 20px;
   opacity: 1;
   transition: opacity .5s;
   cursor: pointer;
   &:hover {
     opacity: .7;
   }
 }
}