@import url('https://fonts.googleapis.com/css?family=Numans');

.bgImg {
background-image: url("../image/flower2.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(255,255,255,0.5) !important;
}

.card-header h3{
color: black;
}

.input-group-prepend span{
width: 50px;
background-color: #1e90ff;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: black;
background-color: #1e90ff;
cursor: pointer;
}

.login_btn:hover{
opacity: .7;
color: black;
background-color: white;
}

.links{
color: black;
}

.links a{
margin-left: 4px;
}